body {
    color: #444444;
    /*background-color: #585560;*/
    font-family:  Roboto, Nimbus Sans L, Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0px;
    font-size: 17px;
    background-image: url("background_subtle.jpg");
}

div.box {
    background-color: #ffffff;
    margin-top: 0px;
}

div.wrapper{
    width: auto;
    padding: 40px;
    position: relative;
}

div.alone{
    max-width: 700px;
    width: 100%;
    margin: auto;
}


div.buttonbox{
    text-align: center;
    margin-top: -5;
    display: block;
}

button, input.button, a.button {
    border: none;
    width: 6em;
    color: #585560;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    margin: 15px;
    background-color: #bdb4ce;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}

button:active, button:hover, .button:active:not(.disabled), .button:hover:not(.disabled) {
    background-color: #877f8f;
}

.disabled{
    color: #a5a1b1!important;
    cursor: default;

}

div.fatal{
    background-color: #ffffff;
    display: block;
    margin: 50px;
    padding: 10px;
}