body {
    color: #444444;
    /*background-color: #585560;*/
    font-family:  Roboto, Nimbus Sans L, Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0px;
    font-size: 17px;
    background-image: url("background_subtle.jpg");
}

div.box {
    background-color: #ffffff;
    margin-top: 0px;
}

div.buttonbox{
    text-align: center;
    margin-top: -5;
    display: block;
}

input.button, a.button {
    border: none;
    width: 6em;
    color: #585560!important;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    margin: 15px;
    background-color: #c3bfce;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}

input.button:active, input.button:hover, a.button:active:not(.disabled), a.button:hover:not(.disabled) {
    background-color: #888888;
}

div.fatal{
    background-color: #ffffff;
    display: block;
    margin: 50px;
    padding: 10px;
}