body {
    color: #444444;
    /*background-color: #585560;*/
    font-family:  Titillium Web, Nimbus Sans L, Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0px;
    font-size: 17px;
    /*background-image: url("background_subtle.jpg");*/
    background-color: #ffffff;
}

div.box {
    background-color: #ffffff;
    margin-top: 0px;
}

div.wrapper{
    width: auto;
    padding: 40px;
    position: relative;
}

div.alone{
    max-width: 700px;
    width: 100%;
    margin: auto;
}


div.buttonbox{
    text-align: center;
    margin-top: -5;
    display: block;
}

button, input.button, a.button {
    border: 1px solid #444444;
    color: #444444;
    width: 6em;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    margin: 15px;
    background-color: #ffffff;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}

button:active, button:hover, .button:active:not(.disabled), .button:hover:not(.disabled) {
    background-color: #eee7ee;
}

.disabled{
    color: #a5a1b1!important;
    cursor: initial!important;
}

div.fatal{
    background-color: #ffffff;
    display: block;
    margin: 50px;
    padding: 10px;
}

div#menu{
    display: none;
    padding-bottom: 10px;
    /*background-color: #efe7ef;*/
    border-top: 1px solid #444444;

}

div#menu form{
    margin-bottom: 0px;
}

input[type=text], textarea {
  border:             1px solid #444444;
  outline:            none;
}
/*
input[type=text]:focus, textarea:focus {
  box-shadow:         0 0 5px #552086;
  margin:             5px 1px 3px 0px;
  padding:            3px 0px 3px 3px;
}*/

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete input {
    width: 32em;
    max-width: 90vw;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #444444;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #444444;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #eee7ee;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #eee7ee !important;
}
