div.zettel_wrapper{
    width: auto;
    padding: 40px;
    padding-bottom: 0px;
    position: relative;
}

.side .zettel_wrapper{
    padding-top: 4em;
}

h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    font-weight: 300;
}

h1 {
    font-family: Roboto Slab, PT Serif;
    margin-top: -10px;
    font-weight: 300;
}

a, a:visited {
    color: #552086;
    text-decoration: underline;
}

a:active {
    color: #888888;
}

a.external_zettelkasten, a.external_internet {
    background-image: url("external.png");
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 20px;
}

div.alone{
    max-width: 700px;
    width: 100%;
    margin: auto;
}

blockquote, pre{
    background-color: #eeeeee;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

div.incoming{
    border: none;
    border-top: 0.1px solid #555555;
    margin-top: 40px;
    padding-top: 10px;
}

div#new_name{
    display: none;
    padding-bottom: 10px;
}

.roam_tags, .created, .last_modified{
    position: absolute;
    display: block;
    top: 0px;
    background-color: #eeeeee;
    width: 33.33%;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.roam_tags{
    left: 33.33%;
}

.created{
    left: 0px;
}

.last_modified{
    left: 66.66%
}

.alone div .roam_tags, .alone div .created, .alone div .last_modified{
    display: none;
}