div.zettel_wrapper{
    width: auto;
    padding: 40px;
    padding-bottom: 0px;
    position: relative;
}

.side .zettel_wrapper{
    padding-top: 4em;
}

p{
    margin-top: 0.5em;
}

h2, h3, h4, h5, h6 {
    margin-top: 1em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

h1 {
    font-family: Roboto Slab, Nimbus Sans L, Helvetica, Arial, sans-serif;
    margin-top: -10px;
    font-weight: 400;
}

a:not(.button), a:not(.button):visited {
    color: #552086;
    text-decoration: underline;
}

a:active {
    color: #888888;
}

a.bib_link{
    text-decoration: none;
}

a.external_zettelkasten, a.external_internet {
    background-image: url("external.png");
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 20px;
}

blockquote, pre{
    background-color: #eeeeee;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

div.incoming{
    border: none;
    border-top: 0.1px solid #555555;
    margin-top: 40px;
    padding-top: 10px;
}

div.bibliography ol li{
    margin-bottom: 20px;
    counter-increment: bibsection;
}

div.bibliography ol {
    list-style-type: none;
}

div.bibliography ol li:before {
    content: "[" counter(bibsection) "] ";
    position: absolute;
    --size: 1.2em;
    left: calc(-1 * var(--size) + 70px);
    line-height: var(--size);

}


div#menu{
    display: none;
    padding-bottom: 10px;
    background-color: #dddddd;
}

div#menu form{
    margin-bottom: 0px;
}

.roam_tags, .created, .last_modified{
    position: absolute;
    display: block;
    top: 0px;
    background-color: #e0d9eb;
    width: 33.33%;
    text-align: center;
    padding: 5px 0px 5px 0px;
}

.roam_tags{
    left: 33.33%;
}

.created{
    left: 0px;
}

.last_modified{
    left: 66.66%
}

.external_banner{
    text-align: center;
    padding: 5px 0px 5px 0px;
    position: absolute;
    display: block;
    top: 0px;
    background-color: #e0d9eb;
    width: 100%;
    left: 0px;
    padding: 5px 0px 5px 0px;
}

.with_banner{
    padding-top: 4em!important;
}

.alone div .roam_tags, .alone div .created, .alone div .last_modified{
    display: none;
}
