/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../../reveal.js/css/theme/template/mixins";
@import "../../reveal.js/css/theme/template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@600&display=swap');

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #666666;
$headingColor: #666666;

$mainFontSize: 18px;
$mainFont: Fira Sans, sans-serif;
$headingFont: Roboto Slab, Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: None;
$headingFontWeight: 600;
$linkColor: #e84963;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );
$padColor: #eeeeee;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

blockquote{
    background-color: $padColor!important;
}


// Theme template ------------------------------
@import "../../reveal.js/css/theme/template/theme";
// ---------------------------------------------
@import "common.scss";
